body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  overflow-x: hidden;
}

.newspaper-icon {
  font-size: 60px;
}

button {
  background-color: #fefefa;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

form {
  padding-left: 10px;
}

input[type="submit"] {
  background-color: #fefefa;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
}

input:hover[type="submit"] {
  background-color: yellow;
}

select {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 4px;
  margin-right: 10px;
  width: 20ch;
  margin-top: 5px;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  width: 30vw;
  height: 15vw;
  border: 2px solid black;
  margin-bottom: 10px;
}

button[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  background-color: yellow;
  padding: 16px;
  border: 2px solid black;
  cursor: pointer;
}

button:hover[type="submit"] {
  background-color: #fefefa;
}

a {
  color: black;
  font-weight: 700;
}

a:hover {
  background-color: #fefefa;
}

.nav-link {
  color: black;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.home-link,
.home-link:visited,
.home-link:hover {
  font-size: 50px;
  color: red;
  text-decoration: none;
}

.home-link:visited {
  color: red;
}

.nav-link:visited {
  color: black;
}

.nav-link:hover {
  color: #000000;
  background-color: #fefefa;
}

li {
  list-style-type: none;
  margin-left: -30px;
}

.preview-subject {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  clear: left;
}

.preview-info {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

.article-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subject {
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.info {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}

.votes {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

.votes > button {
  font-size: 25px;
  margin: 10px;
  margin-left: 0px;
  background-color: yellow;
}

.votes > button:hover {
  background-color: #fefefa;
  cursor: pointer;
}

.comments {
  font-size: 18px;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 10px;
}

.comment-card {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 10px;
  border-bottom: 2px solid black;
}

.delete {
  font-size: 14px;
  font-weight: bold;
  background-color: yellow;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.delete:hover {
  background-color: #fefefa;
}

.name {
  float: left;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 40px;
}

.img {
  float: left;
  height: 150px;

  margin-right: 30px;
  margin-top: 40px;
  position: relative;
}

.articles-by {
  float: none;
  clear: both;
  padding-left: 10px;
  padding-top: 20px;
}

.user {
  padding-left: 10px;
}

.loading {
  font-size: 26px;
}

footer {
  height: 20vh;
  background-color: red;

  width: 100%;
}

@media (max-width: 900px) {
  .nav-link {
    font-size: 14px;
    display: inline;
  }

  #link-list {
    display: flex;
    padding-left: 0px;
    justify-content: space-around;
    padding-top: 10px;
    margin: 0px;
  }

  #link-list > li {
    display: inline;
    margin-left: 0px;
  }

  nav {
    align-items: center;
    margin-left: -25vw;
    flex-grow: 1;
  }

  .name {
    margin-top: 0px;
  }
}
