/* Global styles */

#root {
  background-color: #fd653f;
  margin: -10px -10px;
}

html {
  margin-right: -5px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #fefefa;
}

select {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 4px;
  margin: 5px 10px 0px 0px;
  width: 20ch;
  background-color: #fefefa;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

h3 {
  float: none;
  clear: both;
  font-size: 22px;
  font-weight: bold;
  padding-top: 60px;
}

/* Site heading - login and logo */

#site-header {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "login northcoders-heading";
  text-align: center;
  padding: 15px;
  font-size: 30px;
  background-color: #fefefa;
  font-family: "Roboto", sans-serif;
}

#login {
  float: left;
  grid-area: login;
  text-align: left;
  font-size: 16px;
}

#change-user {
  display: block;
}

#northcoders-heading {
  display: inline-block;
  grid-area: northcoders-heading;
  text-align: center;
}

.home-link,
.home-link:visited {
  font-size: 50px;
  color: red;
}

.newspaper-icon {
  font-size: 60px;
}

#site-title {
  color: black;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

/* Main area - global */

#main-area {
  display: grid;
  grid-template-columns: 20vw 70vw;
  grid-template-areas: "sidebar";
  background-color: #fd653f;
  padding-bottom: 100px;
}

#loading {
  display: block;
  margin: auto;
  margin-bottom: 20%;
  margin-left: 22vw;
}

footer {
  background-color: #fefefa;
  padding: 30px 30px 0px 30px;
  height: 20vh;
  text-align: center;
  font-size: 14px;
}

footer > a {
  display: inline-block;
}

footer > a:hover {
  background-color: yellow;
}

/* Main area - navigation */

#sidebar {
  grid-area: sidebar;
  width: 10vw;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
  margin-left: -40px;
}

.nav-link {
  color: black;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.nav-link:visited {
  color: black;
}

.nav-link:hover {
  color: #000000;
  background-color: #fefefa;
}

/* Main area - Article list */

#sort-dropdowns {
  padding-top: 10px;
}

#article-card {
  padding: 30px 0px;
}

#article-card > header > h2 {
  font-size: 20px;
}

#article-card > header > p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* Main area - Article page */

textarea {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  width: 30vw;
  height: 15vw;
  border: 2px solid black;
  margin: 20px 0px 10px 0px;
}

button[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  background-color: yellow;
  padding: 16px;
  border: 2px solid black;
  cursor: pointer;
}

button:hover[type="submit"] {
  background-color: #fefefa;
}

.votes {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto ", sans-serif;
}

.votes > button {
  font-size: 25px;
  margin: 10px 10px 10px 0px;
  background-color: yellow;
}

.votes > button:hover {
  background-color: #fefefa;
  cursor: pointer;
}

.comment-card {
  padding: 40px 0px;
  margin-right: 15px;
  border-bottom: 2px solid black;
}

li.comment-card > button {
  font-size: 14px;
  font-weight: bold;
  background-color: yellow;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
}

li.comment-card > button:hover {
  background-color: #fefefa;
}

/* Main area - User page */

#avatar {
  float: left;
  height: 150px;
  position: relative;
  margin: 40px 30px 0px -10px;
}

#user-details {
  padding-left: 10px;
}

#user-details > div {
  float: left;
  font-size: 24px;
  margin: 40px 20px 0px 0px;
}

@media (max-width: 900px) {
  /* Site heading - login and logo */

  #site-header {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    grid-template-areas: "northcoders-heading" "login";
  }

  #northcoders-heading {
    display: block;
    grid-area: northcoders-heading;
    font-size: 18px;
    padding-left: 0px;
  }

  #login {
    float: left;
    grid-area: login;
    font-size: 12px;
  }

  /* Main area */

  #main-area {
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: max-content;
  }

  main {
    margin: 0px 15px;
  }

  #sidebar {
    display: flex;
    width: 100%;
    background: #fefefa;
    margin-top: -2px;
  }

  .nav-link {
    font-size: 14px;
    display: inline;
  }

  #link-list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  #link-list > li {
    display: inline;
    margin-left: 0px;
  }

  nav {
    align-items: center;
    flex-grow: 1;
  }

  #loading {
    margin: auto;
  }

  /* Main area - Article page */

  textarea {
    width: 60vw;
    border: 2px solid black;
    margin-bottom: 10px;
  }

  /* Main area - User page */

  #name {
    margin-left: -10px;
  }
}
