body {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  font-weight: 700;
}

a:visited {
  color: rgba(21, 143, 143, 0.692);
}

a:hover {
  color: yellow;
}

.nav-link {
  font-weight: 700;
}

.nav-link:visited {
  color: black;
}

.nav-link:hover {
  color: white;
}

#list {
  list-style-type: none;
  padding-left: 0;
}

.preview-subject {
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.preview-info {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

.article-card {
  padding: 10px;
}

.subject {
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}

.info {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}

.votes {
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "subject img" "name img";
}

.img {
  padding: 5px;
  width: auto;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  grid-area: img;
}
